.home{
    padding-bottom: 10rem ;
    height: 100vh;
    background-color: #079992;
    position: relative;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

